
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

.itemWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 1.4375rem;
  margin-bottom: .625rem;
  align-items: center;
  opacity: 0.7;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  .pic{
    animation: dance 5s linear infinite;
    @keyframes dance {
      0%{
        transform: translateY(0px);
      }
      50%{
        transform: translateY(10px);
      }
      100%{
        transform: translateY(0px);
      }
    }
  }
 
}
.evenColor{
  background-color: #FBFDFF;
}
.oddColor{
  background-color: beige;
}